@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
//font families for text type
$header-font: 'Dela Gothic One';
$h-font: 'RocknRoll One';
$p-font: 'Quicksand';
//font color for text type
$body-font-color: #ff8882;
$title-font-color: #f5f7b2;
//box for blog list page
$box-color: rgba(246,246,244,0.56);
//break point for responsive design
$medium-breakpoint: 1170px;