@import 'utility';
@import 'config';

//main containers
//header
body {
  height: 100vh;
  background-color: #02475e;
}
.header {
  position: sticky;
  top: 0;
  background-color: #687980;
  height: 6.5%;
  header {
    text-align: center;
    a {
      margin-top: 15px;
      font-family: $header-font;
      text-decoration: none;
      display: inline-block;
      width: 200px;
      color: aquamarine;
    }
  }
}
//main content

main {
  // display: flex;
  // justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  line-height: 2;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .homepage {
      border: 1px solid #c6ffc1;
      display: flex;
      width: 45%;
      height: 60%;
      flex-direction: column;
      justify-content: space-around;
      .social-media-links {
        display: inline-block;
        background: none;
        a {
          margin: 0 1.5vw 0 1.5vw;
        }
      }
    }
  }

  h1 {
    font-family: $h-font;
    color: $body-font-color;
  }

  p {
    font-family: $p-font;
    color: $body-font-color;
  }
  a {
    text-decoration: solid;
    color: $title-font-color;
  }
}
//body styling

.blog-list-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
}

.intro-header {
  color: $title-font-color;
  margin-bottom: 50px;
}

.blog-list {
  width: 70%;
  ul {

    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 10px;
      padding-left: 10px;
      border: solid 1px $box-color;
      text-align: left;
      list-style-type: none;
    }
  }
}

.list-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ffc996;
  border-radius: 3%;
  width: 45%;
  height: 50%;
}

.blog-content {
  margin-top: 5vh;
}

//responsive design
@media (max-width: $medium-breakpoint) {
  .blog-content {
    display: flex;
    flex-wrap: wrap;
  }
}
