@import 'utility';
@import 'config';

header {
  text-align: center;
  a {
    margin-top: 10px;
    font-family: $header-font;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    color: aquamarine;
  }
}

//wont set the display on the main box since I can just do that for child boxes if I want to align them somehow
main {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  line-height: 2;

  h1 {
    color: $body-font-color;
  }

  p {
    color: $body-font-color;
  }
}